[project]
name = "neurogc"
version = "0.1.0"
description = "ML-based intelligent garbage collection optimization for Python applications"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.109.0",
    "uvicorn[standard]>=0.27.0",
    "psutil>=5.9.0",
    "torch>=2.0.0",
    "pandas>=2.0.0",
    "numpy>=1.24.0",
    "locust>=2.20.0",
    "websockets>=12.0",
    "httpx>=0.26.0",
    "pydantic>=2.0.0",
    "scikit-learn>=1.8.0",
    "xgboost>=3.1.3",
    "distro>=1.9.0",
    "matplotlib>=3.10.8",
]


[dependency-groups]
dev = [
    "ruff>=0.14.14",
]

[tool.ruff]
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "*_pb2*.py*",         # gRPC auto-generated files
]

line-length = 80
indent-width = 4
target-version = "py312"

[tool.ruff.lint]
exclude = ["*_pb2*.py"]
select = ["E4", "E7", "E9", "F"]
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.pycodestyle]
ignore-overlong-task-comments = false
max-doc-length = 80

[tool.ruff.format]
exclude = ["*_pb2*.py"]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

